.subscribe-section{
    background-color: #051036;
    position: absolute;
    top: 190vh;
    left: 0;
    right: 0;
    z-index: 800;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
    height: 12.5vh;
}



section .left-section {
    padding-left: 170px;
    display: flex;
}

section .left-section i {
    /* background-color: white;
    color: black; */
    margin-right: 20px;
    font-size: 70px;
}

section .left-section h2{
    font-weight: 600;
    font-size: 26px;
    margin-bottom: -20px;
}


section .left-section p {
    font-size: 16px;
}
section .right-section {
    padding-right: 170px;
    font-family: "Jost", "Roboto";
}

section .right-section input {
    width: 420px;
    height: 55px;
    border-radius: 5px;
    color: black;
    border: none;
    font-size: 16px;
    padding-left: 15px;
    outline: none;
}


section .right-section input::placeholder {
    padding-left: 10px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Jost", "Roboto";
}

section .right-section button {
    padding: 14px 30px;
    background-color: #3554D1;
    height: 60px;
    border-radius: 5px;
    color: white;
    font-family: "Jost", "Roboto";
}


