:root {
    --color-white:white;
    --color-blue-1: #3554D1;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Solitreo&display=swap');

html {
    font-family: 'Jost',sans-serif;
}

body{
    padding-top: 40vh;
}

.header{
    /* background-color: var(--color-white); */
    background-color: var(--color-white);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    align-items:center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 11vh;
}

.header ul li {
    list-style: none;
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.header ul li a {
    text-decoration: none;
}

.left-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-li {
    left: 0px;
    top: 0px;
}

.logo-img{
    width: 140px;
}

.ul-right-section {
    margin-left: -10px;
}

.ul-right-section li {
    margin-top: -15px;
    margin-right: 20px;
}

.right-section{
    margin-right: 30px;
}

.right-section ul li {
    margin-right: 20px;
}


.right-section ul span {
    margin-right: 18px;
}

.li-with-the-img{
    display: flex;
    position: relative;
    margin-left: 20px;
}

.li-with-the-img img {
    border-radius: 30px;
    position: absolute;
    left: -25px;
    top: 3px;
}

.right-section ul li button {
    padding: 18px 30px;
    border-radius: 4px;
    cursor: pointer;
}

.become-expert{
    background-color: var(--color-blue-1);
    color: white;
    border: none;
}

.become-expert:active {
    opacity: .6;
}

.register {
    background-color: white;
    border: .2px solid var(--color-blue-1);
    color: var(--color-blue-1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.register:hover{
    color: white;
    background-color: var(--color-blue-1);
}

header i {
    margin-left: 5px;
}

.dropdown {
    position: relative;
  }
  

  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: hidden;
    background-color:#fff;
    width: 240px;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
    color: white;
    top: 15px;
    left: -70px;
  }
  
  .dropdown-options a {
    display: block;
    margin-left: 23px;
    text-align: left;
    color: #000000;
    text-decoration: none;
    padding:20px 10px 2px 10px;
    font-family: 'Jost',sans-serif;
    scroll-behavior: hidden;
}

   .dropdown-options a:nth-child(1){
    margin-top: 30px;
  }

  .category a:nth-child(3){
    margin-bottom: 30px;
  }

  .pages a:nth-child(7){
    margin-bottom: 80px;
  }




  .dropdown-options a:hover {
    color: var(--color-blue-1);
    background-color: rgb(236, 233, 233);
    width: 150px;
}
  
.dropdown-options a:hover a:active {
    color: red;
}

