:root {
    --color-blue-1:#3554D1;
    --color-dark-1: #051036;
    --color-dark-2:#212529;
    --color-light-1:#697488; 
    --color-light-2: #F5F5F5;
    --color-light-3: #52575f;
    --color-light-4:#a7afbe;
    --color-border: #DDDDDD;
    --field-padding: 12px;
    --debugger: 1px solid red;
}


body{
    line-height: 1.875;
}

.second-section {
    position: absolute;
    top: 20vh;
}

.second-section .grid-container {
    width: 98.4vw;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    transition: 1s ease;
  }
  
  .second-section .sidebar {
    width: 20%;
    height: 100%;
    background-color: white;
    transition: 1s ease;
    position: relative;
  }
  
  .second-section .main-content {
    width: 80%;
    height: 100%;
    background-color: #F5F5F5;
    transition: 1s ease;
  }
  
  .second-section .main-content_large {
    width: 99%;
  }
  
  .second-section .sidebar_small {
    width: 1%;
  }
  
  .second-section .btn {
    position: absolute;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
    left: 100%;
    top: 2rem;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .second-section .grid-container .sidebar ul  {
    padding-right: 25px;
  }

  .second-section .grid-container .sidebar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0 15px;
    height: 55px;
  }

  .second-section .grid-container .sidebar ul li img {
    margin-right: 15px;
  }

  .second-section .grid-container .sidebar ul li div {
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    cursor: pointer;
}


.second-section .grid-container .sidebar ul .active {
   background-color: rgba(53, 84, 209, 0.05);
   color: var(--color-blue-1);
}

.second-section .grid-container .sidebar ul li div:hover {
 color: var(--color-blue-1);
}
