
:root {
    --color-blue-1:#3554D1;
    --color-dark-1: #051036;
    --color-dark-2:#212529;
    --color-light-1:#697488; 
    --color-light-2: #F5F5F5;
    --color-light-3: #52575f;
    --color-light-4:#a7afbe;
    --color-border: #DDDDDD;
    --debugger: 1px solid red;
}


.single-blog-fifth-section {
    position: absolute;
    top: 592vh;
    right: 367px;
    left: 367px;
    padding: 0;
    border-top: 1px solid var(--color-border);
}

.single-blog-fifth-section .container {
    margin-top: 40px;
}

.single-blog-fifth-section h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.45;

}

.single-blog-fifth-section p {
    margin-top: -14px;
    color: var(--color-dark-1);
    font-size: 15px;
}

.single-blog-fifth-section form {
   
}

.single-blog-fifth-section form   {
   display: flex;
   flex-direction: column;
   justify-content: space-between;    
   margin-top: 23px;
   margin-bottom: 300px;
}

.single-blog-fifth-section form div {
    display: flex;
    justify-content: space-between;
}

.single-blog-fifth-section form div .form-input {
    display: flex;
    width: 400px;
    position: relative;
}

.single-blog-fifth-section form div .form-input input {
    border-radius: 4px;
    width:100%;
    min-height: 70px;
    padding: 0 15px;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 500;
    color: var(--color-dark-1);
    font-size: 16px;
    line-height: 1.875;
}



.single-blog-fifth-section form div .form-input label {
    position: absolute;
    top: 4px;
    padding:  0 15px;
    color: var(--color-light-4);
    font-size: 16px;
    line-height: 1;
}




.single-blog-fifth-section form textarea {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 0 15px;
    padding-top: 25px;
    min-height: 70px;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    outline: none;
    width: 100%;
    background-color: transparent;
}

