
:root {
    --color-blue-1:#3554D1;
    --color-dark-1: #051036;
    --color-light-1:#697488;
    --color-border: #DDDDDD;
    --color-light-2: #F5F5F5;
    --debugger: 1px solid red;
}


.single-blog-first-section {
    position: absolute;
    top: 190px;
    right: 145px;
    left: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}


.single-blog-first-section .top-section .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.875;
}

.single-blog-first-section .top-section .header div:nth-child(1){
   color: var(--color-blue-1);
   font-weight: 500;
   font-size: 15px;
   margin-bottom: -30px;
}

.single-blog-first-section .top-section .header h1{
    font-weight: 600;
    font-size: 30px;
 }


 .single-blog-first-section .top-section .header .april-text{
    color: var(--color-light-1);
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 19px;
 }
 
 .single-blog-first-section .top-section .header-img img {
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
 }