
:root {
    --color-blue-1:#3554D1;
    --color-dark-1: #051036;
    --color-light-1:#697488;
    --color-dark-1:#051036;
    --color-border: #DDDDDD;
}

.blog-fourth-section{
    position: absolute;
    top: 188px;
    right: 165px;
    left: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}


.blog-fourth-section .top-section {
    margin: 0 auto;
    text-align: center;
}

.blog-fourth-section .top-section h2 {
    line-height: 1.45;
    font-weight: 600;
    font-size: 30px;
}

.blog-fourth-section .top-section p{
    font-size: 16px;
    color: var(--color-light-1);
    margin-top: -18px;
}

.blog-fourth-section .bottom-section {
    display: flex;
    margin-top: 50px;
}



.blog-fourth-section .bottom-section .left-section .blog-post{
    cursor: pointer;
    display: flex;
    margin-bottom: 28px;
    column-gap: 30px;
}

.blog-post .blog-description {
    margin-top: 60px;
}

.blog-post .blog-description div:nth-child(1) {
    color: var(--color-light-1);
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: -6px;
}

.decades {
    line-height: 1.6;
    font-size: 15px;
    color: var(--color-light-1);
    width: 590px;
}

.blog-post .blog-description h3 {
    line-height: 1.45;
    font-weight: 600;
    font-size: 22px;
    color: var(--color-dark-1);
    margin-bottom: 12px;
}


.blog-post .img-box {
	width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.blog-post .img-box  img {
    width: 100%;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.blog-post:hover img{
    transform: scale(1.1, 1.1);
}


.blog-fourth-section .bottom-section .right-section {
    margin-left: 120px;
    margin-top: -28px;
}

.blog-fourth-section .bottom-section .right-section .search-div  {
  display: flex;
  flex-direction: column;
}

.blog-fourth-section .bottom-section .right-section .search-div .search-btn {

  }

.blog-fourth-section .bottom-section .right-section h5 {
    color: var(--color-dark-1);
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 15px;
    letter-spacing: 0.02em;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);


    color: var(--color-dark-1);
    outline: none;
}

  input.nosubmit {
    border: 1px solid var(--color-border) !important;
    width: 300px;
    height: 50px;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

  .blog-fourth-section .bottom-section .right-section .categories ul{
    list-style: none;
}

.blog-fourth-section .bottom-section .right-section .categories ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.blog-fourth-section .bottom-section .right-section .categories ul li div:nth-child(1){
    margin-left: -37px;
    cursor: pointer;
    color: var(--color-dark-1);
    font-size: 15px;
  }

  .blog-fourth-section .bottom-section .right-section .categories ul li div:nth-child(2){
    color: var(--color-light-1);
    font-size: 14px;
  }


  .blog-fourth-section .bottom-section .right-section .recent-posts .individual-post{
   border: 1px solid red;
   display: flex;
   
  }

  .blog-fourth-section .bottom-section .right-section .recent-posts .individual-post img{
    flex-shrink: 0;
    width: 65px;
    height: 65px;
    border-radius: 8px;
   }

.blog-fourth-section .bottom-section .right-section .recent-posts .individual-post .text-div{
    display: block;
    margin-left: 10px;
}
 
.blog-fourth-section .bottom-section .right-section .recent-posts .individual-post .text-div h5{
    font-weight: 500;
    line-height: 1.5;
    font-size: 15px;
}
 

.blog-fourth-section .bottom-section .right-section .recent-posts .individual-post .text-div p{
    margin-top: 5px;
    line-height: 1;
    font-size: 13px;
}


.blog-fourth-section .bottom-section .right-section .tag div button{
    border-radius: 100px;
    color: var(--color-blue-1);
    background-color: rgba(53, 84, 209, 0.05);
    padding: 5px 20px;
    font-weight: 500;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.blog-fourth-section .bottom-section .right-section .tag div button:hover{
    background-color: var(--color-blue-1);
    color: white;
}

.blog-fourth-section .bottom-section .right-section .tag div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}
