@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Solitreo&display=swap');

body{
    line-height: 1.875;
}

.first-section {
    margin-top: -12px;
}

 .first-section img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 .first-section::after{
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background: linear-gradient(270deg, rgba(5, 16, 54, 0.5) 0%, #051036 72.43%);
}



.first-section .overrall {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: auto 0;
}

.first-section .top-section, .first-section .bottom-section {
    display: flex;
    flex-direction: column;
}


.first-section h1 {
    line-height: 1.45;
    font-weight: 600;
    font-size: 60px;
}

.first-section p {
    text-align: center;
    font-size: 16px;
    margin-top: -10px;
    font-weight: 500;
    font-size: 16px;
}

.first-section .bottom-section {
    margin-top: 25px;
}

.first-section .bottom-section ul {
    text-align: center;
    margin-top: 20px;
}
.first-section .bottom-section ul li{
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 5px;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.first-section .bottom-section ul li:nth-child(1){
    border-bottom: 1px solid white;
}

.first-section .bottom-section ul li a {
    text-decoration: none;
    color:#FFFFFF;
}

.first-section .bottom-section ul li:hover, .first-section .bottom-section ul li a:hover{
    color: #3554D1;
}

.input-search {
    background-color: white;
    width: 900px;
    height: 10vh;
    padding-top: 4px;
    display: flex;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 1px;
    margin-top: 10px;
}

.input-search .input-div input {
    border: none;
    outline: none;
    font-family: 'Jost',sans-serif;
}

.input-search {
    display: grid;
    grid-template-columns: 150px 260px 1fr;
}

.input-search .input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-search .input-div:nth-child(1) label, .input-search .input-div:nth-child(2) label, .input-search .input-div:nth-child(3) label {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: -4px;
}


.input-search .input-div:nth-child(2) label{
    margin-left: -23px;
}

.input-search .input-div:nth-child(2)   {
    border-right: 1px solid #DDDDDD;
    margin-left: -40px;
}

.input-search .input-div:nth-child(1)  {
    border-right: 1px solid #DDDDDD;
    padding-left: 13px;
}

.input-search .input-div:nth-child(1)  label  {
    margin-left: -100px;
   
}


.input-search .diff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
}

.input-search .diff .left-section-1{
    display: flex;
    flex-direction: column;
}

.input-search span, .input-search label {
    color: black;
}

.input-search .input-div .right-section-1 button{
    padding: 17px 37px;
    background-color: #3554D1;
    border: 1px solid transparent;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 38px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Jost',sans-serif;
}

.input-search .input-div .right-section-1 button i{
    color: white;
    margin-right: 8px;
    font-size: 18px; 
}

