.subscribe-home-sections{
    background-color: #0D2857;
    position: absolute;
    top: 682vh;
    left: 0;
    right: 0;
    /* bottom: -897vh; */
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    height: 150px;
}



.subscribe-home-sections .left-section {
    padding-left: 170px;
    display: flex;
}

.subscribe-home-sections .left-section i {
    /* background-color: white;
    color: black; */
    margin-right: 20px;
    font-size: 68px;
    margin-bottom: 25px;
}

.subscribe-home-sections .left-section h2{
    font-weight: 600;
    font-size: 26px;
    margin-bottom: -20px;
}


.subscribe-home-sections .left-section p {
    font-size: 16px;
    margin-top: 20px;
}

.subscribe-home-sections .right-section {
    padding-right: 170px;
    font-family: "Jost", "Roboto";
}

.subscribe-home-sections .right-section input {
    width: 420px;
    height: 55px;
    border-radius: 5px;
    color: black;
    border: none;
    font-size: 16px;
    padding-left: 15px;
    outline: none;
}


.subscribe-home-sections .right-section input::placeholder {
    padding-left: 10px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Jost", "Roboto";
}

.subscribe-home-sections .right-section button {
    padding: 14px 30px;
    background-color: #3554D1;
    height: 55px;
    border-radius: 5px;
    color: white;
    font-family: "Jost", "Roboto";
    border: none;
}


